* {
  /* font-size: 16px; */
  margin: 0;
  padding: 0;
}

/* Projects */
.projects {
  background-image: url('../../../public/images/img13.png');
  background-position: center;
  height: fit-content;
  text-align: center;
  font-size: 16px;
}

.projects_heading {
  font-size: 50px;
  font-family: 'PT Sans', sans-serif;
}

.tp_corner {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  transform: translateX(-220px) translateY(80px);
  vertical-align: top;
}

.bm_corner {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  transform: translateX(220px) translateY(-80px);
  vertical-align: top;
}

/* Cards */
.cards-row {
  display: flex;
  flex-direction: row;
}

.card-text>p {
  font-size: 16px;
}