.Stats-1 {
    position: relative;
    background-image: url('../../public/images/stats-bgimg1.png');
    background-size: cover;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.stats-box {
    position: absolute;
    width: 1241px;
    height: 419px;
    background: linear-gradient(98.5deg, rgba(2, 173, 101, 0.44) 2.84%, rgba(129, 253, 5, 0.44) 98.9%), #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.stats-text {
    position: absolute;
    width: 1101px;
    height: 266.35px;
    left: 70px;
    bottom: 42.65px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 43px;
    /* or 107% */

    text-align: center;

    color: #000000;
}


  .Stats-2 {
    position: relative;
    background-image: url('../../public/images/stats-bgimg2.png');
    background-size: cover;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .stats2-head {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 43px;
    text-align: center;
    color: #000020;
  }
  
  .tp-corner {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    transform: translateX(-190px) translateY(85px);
 }

  .bm-corner {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    transform: translateX(190px) translateY(-70px);
  }

  .stats-cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 280px;
    height: 280px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
  }
  
  .card-1 {
    background: #EDEDE4;
  }
  
  .card-2 {
    background: rgba(152, 224, 181, 0.69);
    transform: translateY(140px);
  }
  
  .card-3 {
    background: #EDEDE4;
  }
  
  .card-4 {
    background: rgba(152, 224, 181, 0.69);
    transform: translateY(140px);
  }
  
  .card img {
    width: 130px;
    height: 130px;
    object-fit: contain;
  }

  .card h1 {
    /* position: absolute; */
    width: 153.69px;
    height: 45px;
    left: 138.54px;
    top: 1850px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 43px;
    /* or 59% */

    text-align: center;

    color: #000000;
    padding-top: 5%;
  }

  .card p {
    /* position: absolute; */
    width: 168.53px;
    height: 45px;
    left: 132.18px;
    top: 1909px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 43px;
    /* or 107% */

    text-align: center;

    color: #000000;
    padding-top: 5%;
  }

  .quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;
    text-align: center;
    color: #000020;
    background: #EDEDE4;
    margin-top: 0;
    padding: 2% 2%;
  }
  
  .quote-icon-lf {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    transform: translateY(-10px);
  }
  .quote-icon-rt {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    transform: translateY(30px);
  }
  
  .quote {
    display: inline-flex;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .author {
    margin-top: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 54px;
  }
  
  